/* color */
$c-primary: #ffd600;
$c-primary-light: #ffff56;
$c-primary-dark: #c7b800;
$c-secondary: #4dd0e1;
$c-secondary-light: #88ffff;
$c-secondary-dark: #009faf;
$c-black: #212121;
$c-black-dark: #000000;
$c-gray: #e0e0e0;
$c-gray-light: #f5f5f5;
$c-gray-dark: #616161;
$c-pink: #f06292;
$c-yellow: #ffab00;
$c-blue: #448aff;
$c-white: #fafafa;

/* padding */
$p-2xs: 4px;
$p-xs: 8px;
$p-sm: 16px;
$p-md: 20px;
$p-lg: 20px;
$p-xl: 20px;

/* margin */
$m-2xs: 4px;
$m-xs: 8px;
$m-sm: 16px;
$m-md: 20px;
$m-lg: 40px;
$m-xl: 60px;

/* breakpoint */
$bp-m: 786px;

/* width */
$w-md: 1024px;
